* {
    font-family: 'Open Sans', sans-serif;
}

body {
    background-image: radial-gradient($color_secundario, $color_terciario);
}

.titulo {
    font-size: 60px;
}

nav {
    background-color: $color_primario;
}

a {
    text-decoration: none;
    color: $color_letras;
    transition: color 0.4s ease;
    &:hover {
        color: $color_transiciones_botones;
    }
}

.inicio {
    margin: 0px 8px;
    transition: all 0.4s ease;
    &:hover {
        transform: scale(1.2);
        transition: all 0.4s ease;
    }
}

.tienda {
    margin: 0px 8px;
    transition: all 0.4s ease;
    &:hover {
        transform: scale(1.2);
        transition: all 0.4s ease;
    }
}

.personalizados {
    margin: 0px 8px;
    transition: all 0.4s ease;
    &:hover {
        transform: scale(1.2);
        transition: all 0.4s ease;
    }
}

.tips {
    margin: 0px 8px;
    transition: all 0.4s ease;
    &:hover {
        transform: scale(1.2);
        transition: all 0.4s ease;
    }
}

.nosotros {
    margin: 0px 8px;
    transition: all 0.4s ease;
    &:hover {
        transform: scale(1.2);
        transition: all 0.4s ease;
    }
}

.contacto {
    margin: 0px 8px;
    transition: all 0.4s ease;
    &:hover {
        transform: scale(1.2);
        transition: all 0.4s ease;
    }
}