//INICIO------------------------------------------------------------------------------------------------------------

#imagen-inicio {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    .imagen-inicio {
        width: 350px;
        height: 400px;
        margin: 20px 0px;
    }
    
}

//TIENDA-----------------------------------------------------------------------------------------------------------

.primer-articulo {
    display: flex;
    flex-direction: column;
    transition: all 0.4s ease;
    &:hover {
        transform: scale(1.08);
        transition: all 0.4s ease;
    }
}

.segundo-articulo {
    display: flex;
    flex-direction: column;
    transition: all 0.4s ease;
    &:hover {
        transform: scale(1.08);
        transition: all 0.4s ease;
    }
}

.tercer-articulo {
    display: flex;
    flex-direction: column;
    transition: all 0.4s ease;
    &:hover {
        transform: scale(1.08);
        transition: all 0.4s ease;
    }
}

.cuarto-articulo {
    display: flex;
    flex-direction: column;
    transition: all 0.4s ease;
    &:hover {
        transform: scale(1.08);
        transition: all 0.4s ease;
    }
}

.quinto-articulo {
    display: flex;
    flex-direction: column;
    transition: all 0.4s ease;
    &:hover {
        transform: scale(1.08);
        transition: all 0.4s ease;
    }
}

.sexto-articulo {
    display: flex;
    flex-direction: column;
    transition: all 0.4s ease;
    &:hover {
        transform: scale(1.08);
        transition: all 0.4s ease;
    }
}

.imagen-articulo {
    width: 300px;
    height: 350px;
    margin: 25px
}

//PERSONALIZAR-------------------------------------------------------------------------------------------------------------

#lista-personalizar {
    position: relative;
    top: 70px;
    .titulo-personalizar {
        font-weight: 500;
        font-size: 45px;
        position: relative;
        right: 20px;
    }
    .item-personalizar {
        font-size: 20px;
        margin-left: 30px;
    }
    
}

#lista-agilizar-diseño {
    position: relative;
    top: 140px;
    .titulo-agilizar-diseño {
        font-weight: 500;
        font-size: 45px;
        position: relative;
        right: 20px;
    }
    .item-agilizar-diseño {
        font-size: 20px;
        margin-left: 30px;
    }
}

#imagen-personalizar {
    position: relative;
    top: 210px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    .imagen-personalizar {
        width: 400px;
        height: 450px;
        margin: 20px;
    }
}

//TIPS----------------------------------------------------------------------------------------------------------------

.titulo-tips {
    font-weight: 500;
    font-size: 45px;
    position: relative;
    left: 20px;
    top: 50px;
}

#lista-curado {
    position: relative;
    top: 80px;
    font-size: 20px;
    margin-left: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    ol {
        position: relative;
        left: 10px;
        font-size: 25px;
    }
    .titulo-curado {
        font-size: 25px;
    }
    .imagen-curado {
        width: 400px;
        height: 450px;
        position: relative;
        right: 60px;
    }
    
}

#mate-bien-cebado {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 200px;
    .imagen-mate-bien-cebado {
        width: 400px;
        height: 450px;
        position: relative;
        left: 60px;
    }
    .titulo-mate-bien-cebado {
        font-size: 25px; 
        position: relative;
    
    }
    .item-mate-bien-cebado {
        font-size: 25px;
        position: relative;
        bottom: 20px;
    }
}


#mantenimiento-mate {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 200px;
    .titulo-mantenimiento-mate {
        font-size: 25px; 
        position: relative;
    }
    .item-mantenimiento-mate {
        font-size: 25px;
        position: relative;
        bottom: 20px;
    }
    .imagen-mantenimiento-mate {
        width: 400px;
        height: 450px;
        position: relative;
        right: 60px;
    }
}

//NOSOTROS-------------------------------------------------------------------------------------------------------------

#conocenos {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-left: 20px;
    .titulo-conocenos {
        font-weight: 500;
        font-size: 45px; 
    }
    
    .parrafo-conocenos {
        margin-left: 30px;
        font-size: 25px;
        width: 800px;
    }
}

//CONTACTO-------------------------------------------------------------------------------------------------------------

.titulo-contacto {
    font-weight: 500;
    font-size: 45px; 
    position: relative;
    top: 80px;
    margin-left: 25px;
}

#contacto {
    display: flex;
    flex-direction: row;
    align-content: center;
    position: relative;
    left: 120px;
    #datos {
        display: flex;
        flex-direction: column;
        position: relative;
        top: 150px;
        .nombre {
            width: 150px;
            height: 40px;
            margin-left: 25px;
            margin-bottom: 10px;
            padding: 20px;
            border-color: $color_bordes;
        }
        
        .celular {
            width: 150px;
            height: 40px;
            margin-left: 25px;
            margin-bottom: 10px;
            padding: 20px;
            border-color: $color_bordes;
        }
        
        .email {
            width: 150px;
            height: 40px;
            margin-left: 25px;
            margin-bottom: 10px;
            padding: 20px;
            border-color: $color_bordes;
        }
        
    }
    .comentario {
        position: relative;
        top: 150px;
        left: 150px;
        width: 300px;
        height: 150px;
        border-color: $color_bordes;
    }
    
}

.enviar {
    position: relative;
    top: 180px;
    left: 145px;
    width: 80px;
    height: 30px;
    border-color: $color_bordes;
    transition: all 0.4s ease;
    &:hover {
        transform: scale(1.09);
        background-color: $color_transiciones_botones;
        transition: all 0.4s ease;
    }
}